body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4ddff;
}

div {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

#register-link {
    display: block;
    margin-top: 15px;
    color: #0026e4;
    text-decoration: none;
}

input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn-click {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff9100;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-click:hover {
    background-color: #b36500;
}

#login-message {
    margin-top: 15px;
    color: red;
}